.header-children {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;

  background: rgba(15, 15, 15, 1);
  padding: 12px;
  margin: 0px 12px;

  border-bottom: thin inset rgba(200, 200, 200, 0.4)
}
