.user-info-container {
  display: flex;
  align-items: center;
}

.user-info-profile-pic {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  border-radius: 50%;
}

.user-info-name {
  color: white;
}
